.Ft32{
	font-size:32px;
	color:#9b9b9b;
	font-family: 'Roboto', sans-serif;
}
.Ft18{
	font-size:18px;
	color:#9b9b9b;
	font-family: 'Roboto', sans-serif;
}
.Ft16{
	font-size:15px;
	color:#6B7072;
	font-family: 'Roboto', sans-serif;
}
.Ft14{
	font-size:14px;
	color:#b6b6b6;
	font-family: 'Roboto', sans-serif;
}
.Ft15_w{
	font-size:15px !important;
	color:#fff !important;
	font-family: 'Roboto', sans-serif !important;
}
.Ft15{
	font-size:15px;
	color:#545759;
	font-family: 'Roboto', sans-serif;
}
.Ft14_n{
	font-size:14px;
	color:#9b9b9b;
	font-family: 'Roboto', sans-serif;
}
.Ft13{
	font-size:13px;
	color:#4a4a4a;
	font-family: 'Roboto', sans-serif;
}
.Ft13g{
	font-size:13px;
	color:#9b9b9b;
	font-family: 'Roboto', sans-serif;
}
.Ft12_w{
	font-size:12px;
	color:#fff;
	font-family: 'Roboto', sans-serif;
}


.gButton{
	background-color:#008441;
	color:#fff;
	width:100%;
	height:38px;
}
.bButton{
	background-color:#999;
	color:#fff;
	width:100%;
	height:38px;
}
.wButton{
	background-color:#fff;
	color:#000;
	width:100%;
	height:38px;
}
.servCliente{
	background-color:#545454 !important;
	color:#fff !important;
	height:38px;	
}


.BoxGray {
	border: 1px solid #eeeeee;
}
.linkOver:hover{
		background-color:#1E1E1F !important;
}
