<div class="row" ng-controller="UpdateBySerialController">

<h3>Aprobacion de codigos por codigo serial</h3>
<hr />

     <form ng-submit="updatebatch()" name="form">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">Activación masiva</h5>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <label for="id">Seriales</label>
                    <textarea name="serial" ng-model="ser" cols="40" rows="5" placeholder="Por favor escribir los numeros de seriales separados por ; (ejemplo: 456;123;345)" class="form-control" required></textarea>
                </div>
                <div class="form-group">
                    <label for="id">Descripción</label>
                    <textarea name="descri" ng-model="desc" cols="40" rows="5" placeholder="Descripción" class="form-control"></textarea>
                </div>                      
                <button type="submit" class="btn btn-default">Activar</button>                        
            </div>
        </div>

        <table class="table table-striped">
            <caption>Lista de codigos seriales</caption>
            <thead>
                <tr>
                    <th>Codigo Serial</th>
                    <th>Activacion</th>
                </tr>
            </thead> 
            <tbody>
                <tr ng-repeat="item in codeList">
                    <td>{{item.codigoserial}}</td>
                    <td>{{item.status}}</td>
                </tr>
            </tbody>
        </table>

    </form>   

</div>