<div class="row" ng-controller="mainController">

 <div class="container-fluid">

    <div class="row">
        <div class="col-xs-12" style="height:42px">

        </div>
    </div>	

    <div class="row">
        <div class="col-xs-12" style="height:42px">

        </div>
    </div>

    <form ng-submit="loginuser()" name="form">

        <div class="row">          
            <div class="col-md-8 col-md-offset-2" style="background-color:#eeeeee">
                <div class="row" style="padding-top:43px">
                    <div class="col-md-10 col-md-offset-1 Ft32">
                        Venta de codigos
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 Ft14">
                        Venta de codigos 
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12" style="height:48px">

                    </div>
                </div>               

                <div class="row">
                    <div class="col-md-5 col-md-offset-1 Ft13">
                        Usuario
                    </div>
                    <div class="col-md-5">
                       <input name="user" ng-model="use" class="form-control Ft13g" placeholder="Escribe tu usuario" required maxlength="15" />         
					   </div>
                </div>               
                <div class="row" style="padding-top:20px">
                    <div class="col-md-5 col-md-offset-1 Ft13">
                        Contraseña
                    </div>
                    <div class="col-md-5">
					   <input name="pass" ng-model="passw" type="password" class="form-control Ft13g" placeholder="Escribe tu multiclave" required maxlength="10" />        
					</div>
                </div>
                <div class="row" style="padding-top:20px">
                    <div class="col-md-5 col-md-offset-6">
                        <button type="submit" class="gButton">Ingresar</button>
                    </div>
                </div>               
                <div class="row">
                    <div class="col-xs-12" style="height:35px">

                    </div>
                </div>
            </div>
        </div>

    </form>    

</div>	
		
</div>